top {
	position: fixed;
	top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 204);
}

img.bob {
	width: 75px;
    margin-left: 20px;
}

top.span {
    font-size: 24px;
    font-weight: bold;
}

main {
    margin: 100px 50px 50px 0px;
}
