top {
	position: fixed;
	top: 0;
    left: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: lightgray;
}

img.bob {
	width: 75px;
    margin-left: 20px;
}

main {
	margin: 18px;
}
